body{
    font-family: arial, sans-serif;
}

.header {
    width: 1900px;
    height: 1080px;
    background: #660033;
    display: flex;
    justify-content: center;
  }
  
  .elipse {
    align-self: center;
    position: absolute;
  }

  .aboutme {
    background-color: #660033;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 792px;
    max-width: 1920px;
    box-sizing: border-box;
    color: #6699ff;
  }
  .aboutmetitle {
    font-size: 50px;
    color: #000066;
    padding-left: 152px;
  }
  .textaboutme {
    margin-bottom: 40px;
    color: #9966ff;
    max-width: 600px;
    height: 300px;
    font-size: 30px;
    padding-left: 214px;
    margin-top: 40px;
  }
  .aboutmebutton {
    background-color: #e91e63;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 25px;
    font-size: 25px;
    margin-left: 261px;
    margin-top: 125px;
  }
  
  .drawing {
    align-self: flex-end;
    position: absolute;
  }
  
  .top_nav_bar {
    width: 2020px;
    height: 100px;
    align-self: start;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: red;
    font-size: 40px;
  }
  
  .studio_name {
    text-align: center;
  }
  
  .profile_name {
    text-align: right;
  }

  .mee{
    border-radius: 50%;
    position: absolute;
    top: 230px;
  }


  .plant1 {
    background-color: #660033;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 792px;
    max-width: 1920px;
    box-sizing: border-box;
    color: #6699ff;
  }
  .plant1_title {
    font-size: 50px;
    color: #000066;
    padding-left: 152px;
  }
  .plant1_info {
    margin-bottom: 40px;
    color: #9966ff;
    max-width: 600px;
    height: 300px;
    font-size: 30px;
    padding-left: 214px;
    margin-top: 40px;
  }
  .plant1_vievmore {
    background-color: #e91e63;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 25px;
    font-size: 25px;
    margin-left: 261px;
    margin-top: 125px;
  }
  
  .plant1_image {
    align-self: flex-end;
    position: absolute;
    margin-right: 40px;
    width: 600px;
  }

  button{
    text-decoration: none;
  }

  .plant2 {
    background-color: #660033;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 792px;
    max-width: 1920px;
    box-sizing: border-box;
    color: #6699ff;
  }
  .plant2_title {
    font-size: 50px;
    color: #000066;
    padding-left: 152px;
  }
  .plant2_info {
    margin-bottom: 40px;
    color: #9966ff;
    max-width: 600px;
    height: 300px;
    font-size: 30px;
    padding-left: 214px;
    margin-top: 40px;
  }
  .plant2_vievmore {
    background-color: #e91e63;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 25px;
    font-size: 25px;
    margin-left: 261px;
    margin-top: 125px;
  }
  
  .plant2_image {
    align-self: flex-end;
    position: absolute;
    margin-right: 40px;
    width: 600px;
  }

  .plant3 {
    background-color: #660033;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 792px;
    max-width: 1920px;
    box-sizing: border-box;
    color: #6699ff;
  }
  .plant3_title {
    font-size: 50px;
    color: #000066;
    padding-left: 152px;
  }
  .plant3_info {
    margin-bottom: 40px;
    color: #9966ff;
    max-width: 600px;
    height: 300px;
    font-size: 30px;
    padding-left: 214px;
    margin-top: 40px;
  }
  .plant3_vievmore {
    background-color: #e91e63;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 25px;
    font-size: 25px;
    margin-left: 261px;
    margin-top: 125px;
  }
  
  .plant3_image {
    align-self: flex-end;
    position: absolute;
    margin-right: 40px;
    width: 600px;
  }
  
  .plant4 {
    background-color: #660033;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 792px;
    max-width: 1920px;
    box-sizing: border-box;
    color: #6699ff;
  }
  .plant4_title {
    font-size: 50px;
    color: #000066;
    padding-left: 152px;
  }
  .plant4_info {
    margin-bottom: 40px;
    color: #9966ff;
    max-width: 600px;
    height: 300px;
    font-size: 30px;
    padding-left: 214px;
    margin-top: 40px;
  }
  .plant4_vievmore {
    background-color: #e91e63;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 25px;
    font-size: 25px;
    margin-left: 261px;
    margin-top: 125px;
  }
  
  .plant4_image {
    align-self: flex-end;
    position: absolute;
    margin-right: 40px;
    width: 600px;
    height: 600px;
  }

  .footer{
    width: 1920px;
    height: 230px;
    background: #DAF1E982;
    display: flex;
    background-color: #e91e63;
}

.ff{
    flex-direction: column;
    width: 208px;
    height: 215px;
    font-family: 'mulish';
    display: flex;
    line-height: 40px;
    margin-right: 50px;
    margin-top: 50px;
}

.container{
  margin: 0 auto;
  width: 1920px;
}

.wrap{
  display: flex;
}
